*{
    margin:0;
    padding:0;
    font-family: 'Open Sans',arial;
}

.overlay{
    widtH:100%;
    heighT:100%;
    background:rgba(255,255,255,.15);
}
.container{
    width:85%;
    margin:auto;
}
.menu{
   position:fixed;
   widtH:100%;
   height:100px;
   z-index:1;
}
.header{
    background-image: url("../img/cover.jpg");
    background-size:cover;
    height:700px;
   
   
  
    
}
.logo{
    margin-top:25px;
    float:left;
    width:13%;
    /* background:blue; */
    margin-right:100px;
}
.logo img{
    width:100%;
   
    
}
.list{
 
    margin-top:30px;
    float:right;
    list-style-type:none;
    /* margin-left:500px; */
    
    
}
.list li{
    float:left;
    list-style-type:none;
    /* padding-right:20px; */
    position: relative;
    left:10%;
    margin-right:20px;
 
  
   
    
}
.list a{
    text-decoration:none;
    color:#fff;
    font-size:17px;
    font-weight: 100;

}
.line{
    
   border-bottom:1px solid rgba(255,255,255,.15);

}
.clr{
    clear:both;
}

.title{
   
    position: absolute;
    top:30%;
    width:60%;
    margin:auto;
    text-align: center;
   margin-left:18%;
   line-height:60px;
   color:#fff;
  
}
.title h1{
  margin-bottom:30px;
    font-size:80px;
}
.title p{
    font-size:25px;
}
.btn{
    position:relative;
    top:60%;
    text-align:center;
}
.btn button{
    width:150px;
    heighT:50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border:0;
}
.first{
   background:#4274b7;
   border: 2px solid transparent;
   transition:all 1s;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   -ms-transition:all 1s;
   -o-transition:all 1s;
}
.first a{
    text-decoration: none;
    color:#fff;
    font-size:15px;
    font-weighT:bold;
    text-transform: capitalize;
}
.first:hover{
    background: #fff;
    border-color: #fff;
}
.first a:hover{
    color: #222;
}
.second{
    background-color: #fff;
    border: 2px solid transparent;
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
}
.second a{
    text-decoration: none;
    color:#000;
    font-size:15px;
    font-weighT:bold;
    text-transform: capitalize;
}
.second:hover{
    background: #fff!important;
   opacity:0.8;
    border-color: #fff!important
}
.second a:hover{
    color: #222;
}
.box{
    width:40px;
    height:60px;
    border-radius: 24px;
    border:2px solid rgba(255,255,255,.7);
    position: relative;
    top:70%;
    left:48%;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border:1px solid #fff;
}
.circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width:25%;
    heighT:25%;
    margin:auto;
    background: rgba(255,255,255,.9);
    animation-name:move;
    animation-duration: 1s;
    animation-iteration-count:infinite ;
    
}
@keyframes move{
    0%{
        position: relative;
        top:0%;
    }

    25%{
        position: relative;
        top:25%;
    }
    50%{
        position: relative;
        top:50%;
    }
    75%{
        position: relative;
        top:75%;
    }
    100%{
        position: relative;
        top:0%;
    }
}