*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width:90%;
    margin:auto;
}
.menu .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top:30px;
    padding-bottom:25px;
   
    
    
    
}
.menu{
    position: fixed;
    widtH:100%;
    z-index:1;
  border-bottom :1px solid rgba(255,255,255,0.3);
}

.header{
    background-image: url("../img/cover.jpg");
    height:800px;
    background-size:cover;
    position:relative;
    
}
.title{
    position:absolute;
    top:40%; 
    display: flex;
    flex-direction:column ;
     justify-content: center;
     align-items: center;
     width:100%;
     text-align: center;

    
  
}
.title h1{
    font-size:76px;
    color:#fff;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}
.title p{
    widtH:45%;
    color:#fff;
    font-size:22px;
    font-weighT:bold;
    line-heighT:50px;

}

.logo{
    width:15%;
   
}
.logo img{
    width:70%;
  
    
}
.overlay{
    widtH:100%;
    height:100%;
    /* background:rgba(255,255,255,0); */
}


.list ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   


}
.list li{
    margin-right:20px;
    

}
.list a{
    text-decoration: none;
    color:#fff;
    font-size:18px;
    text-transform: capitalize;
    font-weighT:800;
}
.fa-search{
    font-size:20px;
    color:#fff;
}
.btn{
    margin-top:30px;
}
.btn a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-righT:10px;
 
    heighT:50px;
    widtH:150px;
    text-align: center;
    
    line-heighT:50px;
    font-size:13px;
    font-family: 'Open Sans',arial;
}
.blue{
    background-color:#4274b7;
    color:#fff;
    font-weight: bold;
}
.white{
    background-color:#fff;
    color:#000;
    font-weight: bold;
}
.blue:hover{
    background-color:#fff;
    color:#000;
}
.white:hover{
    opacity:0.8;
}
.box{
    margin-top:60px;
    width:40px;
    heighT:70px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    /* background-color:red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255,255,255,.7);
    cursor:pointer;
}
.circle{
    widtH:10px;
    heighT:10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(255,255,255,.9);
    animation-name:move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes move{
    0%{
        position: relative;
        top:0;
    }
    25%{
        position: relative;
        top:25%;  
    }
    50%{
        position: relative;
        top:50%;  
    }
   
   
    85%{
        position: relative;
        top:85%;  
        opacity:0.2;
    }
}
.business .container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.item{
    margin-top:50px;
    width:33%;
    display: flex;
    justify-content:space-around;
    flex-wrap: nowrap;
}
.info{
    margin-bottom:50px;
    padding-right:10px;
    line-heighT:30px;
    
    
}
.info p{
    color:#88888B;
    font-size:16px;
}
.info h5{
    font-size:17px;
    font-family: 'Roboto', sans-serif;
}
.icon{
    padding-right:20px;
    font-size:25px;
}
.persons .container .info{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}
.info .image{
    widtH:60%;
    margin-righT:30px;
}
.info img{
    widtH:100%;
    background:none;
}
.info .text{
    width:60%;
    /* display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; */

}
 .btn a{
    transition:1s all ;
    -webkit-transition:1s all ;
    -moz-transition:1s all ;
    -ms-transition:1s all ;
    -o-transition:1s all ;
}
.persons{
    padding-top:30px;
    heighT:700px;
    background:#F8F8F9;
}
.text .fa-check{
    color:#4274b7;
    padding-right:10px;
}
.text h3{
    font-size:30px;
    /* font-weight:bold; */
    font-family: 'Roboto', sans-serif;
}
.text, .image{
    padding-top:80px;
    background: none;
}
.text .btn a:hover{
    background:#000;
    color:#fff;
}
.text p{
     color:#88888B;
     font-weight:600;
}
.text{
    line-height:40px;
}
.white{
    background:#fff;
 
}
.services{
background-color:#F8F8F9;
height:750px;
}

.services .container .heading{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    line-height:60px;
    padding-top:80px;
}
.services .container .heading .fa-star{
    font-size:40px;
    color:#4274b7;
    

}
.services .container .heading h3{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    font-weight:800;
}
.services .container .heading p{
 color: #888;
 font-size:17px;
 font-weighT:600;
}
 .part{
   
    width:25%;
    padding:20px;
    
   
}
.content .part .info p ,h5{
    font-size:15px;
}
.part .info{
    margin-bottom:15px;
}

.content{
    display:flex;
    text-align: center;
    flex-wrap: wrap;
    
    
    
}
.content .icon .fa-tv{
    background-color:#4274b7;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    widtH:60px;

     heighT:60px; 
    text-align:center;
   
    line-height:60px;
    color:#fff;
}
.options{
    heighT:500px;
    background-image: url(../img/cover.jpg);
    background-size:cover;
}
.options .overlay{
    background:#4274b7;
    opacity:0.9;
}
.options .container{
    padding-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size:24px;
    text-align: center;
}
.options .container p{
    font-weight: bold;
    width:80%;
    line-height:80px;
}
.options .name p{
    font-size:15px;
    line-height:30px;
    width:100%;
}
.fa-comment-dots{
    font-size:40px;
}
.name .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:35px;
    text-align: center;
    margin-left:20px;
    
}
.icon{
    padding-top:30px;
    cursor: pointer;
}

fa-arrow-alt-circle-left{
  margin-right:60px;
}
.products .container{
    margin-top:150px;
    display: flex;

    align-items: center;
    justify-content: space-between;

}
.products img{
    opacity:0.7;
   width:15%;
}
.products img:hover{
    opacity:1;
}
.buy{
    margin-top:50px;
    height:400px;
    background-color:#F8F8F9;
}
.buy .container .info{
    padding-top:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buy .info a{
    margin-top:50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-righT: 10px;
    heighT: 75px;
    widtH: 200px;
    text-align: center;
    line-heighT: 80px;
    font-size: 14px;
    font-family: 'Open Sans',arial;
    background-color: #4274b7;
    color: #fff;
    font-weight: bolder;
    border: 2px solid transparent;
    transition:1s all;
    -webkit-transition:1s all;
    -moz-transition:1s all;
    -ms-transition:1s all;
    -o-transition:1s all;
}
.buy .info a:hover{
    background:#000;
}
.footer{
    background-image: url(../img/map.png);
    height:350px;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right;
    color:#58606b;

}
.footer .overlay{
    background-color:#162231;
   

                   
}
.footer .container .info{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   padding-top:50px;
   justify-content: center;
   align-items: center;
}
.info h4{
    margin-bottom: 20px;
    color:#fff;
}
.about{
    width:25%;
    padding-right:20px;
    /* padding-top: 30px; */
    
}
.about p{
    font-size:14px;
}
.open .icon{
    font-size:15px;
    padding-top:0;
}
.open{
    width:25%;
    /* line-heighT:40px; */
}
.times{
    line-height:40px;
}
.pages{
    width:25%;
    line-height:40px;
}
.pages a{
    display: inline-block;
    text-decoration: none;
    color: #58606b;
    text-align: center;
    transition:1s all;
    -webkit-transition:1s all;
    -moz-transition:1s all;
    -ms-transition:1s all;
    -o-transition:1s all;
}
.pages a:hover{
    color: #4274b7;
}
.contact{
    width:25%;
    line-height:40px;
   
}
.contact a{
    text-decoration: none;
    color:#58606b;
}
.copy{
   height:100px;
    background:#121B25;
    color:#797979;
}
.copy .container{
    padding-top:30px;
    display:flex;
    overflow: hidden;
}
.copy .container p{
    width:85%;
    padding-top:10px;
}
.social i{
    font-size:23px;
    color: #535353;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 18px;
    background: rgba(0,0,0,.08);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    text-align: center;
    line-heighT:40px;
}
.social i a{
    text-decoration: none;
    text-align: center;
    
  
}